*{box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{

    padding: 10px;
    margin-bottom: 10px;
    
}
ul{
    display: flex;
justify-content: space-between;
    list-style: none;
}
nav{
    display: flex;
}
a{
    padding: 10px;
}
